<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{site.title}}</title>
  <!--[if lt IE 9]>
	<script src="/js/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="/css/screen.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" charset="utf-8" href="/css/syntax.css" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml" />
</head>
<body>
<div id="wrap" class="container_12">
<header class="grid_12 alpha omega">
{% if site.title %}
  <h1><a href="{{site.url}}">{{site.title}}</a></h1>
{% endif %}
</header>
<div class="clear"></div>
<section class="grid_12 alpha omega">
{{ content }}
</section>
<div class="clear"></div>
<footer>
<div class="grid_4 alpha">
  <p>
  Translated by: <a href="http://accidentalhacker.com">Rob Sobers</a>
  </p>
</div>
<div class="grid_4">
  <p>
    Last updated: July 19th, 2011
  </p>
</div>
<div class="grid_4 omega">
  <p>
  © Copyright 2011, <a href="http://zedshaw.com">Zed A. Shaw</a>
  </p>
</div>
</footer>
<div class="clear"></div>
</div><!-- .container_12 -->
</body>
</html>
